@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("/Login");
        }
    }

    private void CreateNew()
    {
        Navigation.NavigateTo("/Setup");
    }
}

<h1>Welcome to FitPA!</h1>

Welcome to your new fitness app.

<MudButton Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" FullWidth OnClick="() => CreateNew()">Create New Workout Plan</MudButton>

<MudButton Class="mt-5" Variant="Variant.Filled" Color="Color.Primary">Primary</MudButton>