@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            int a = 0;
            //Navigation.NavigateTo("/Login");
        }
    }
}

<h1>Hello, world! new app</h1>

Welcome to your new app.


<MudButton Variant="Variant.Filled" Color="Color.Primary">Primary</MudButton>