@page "/login"

@code {
    private string username;
    private string password;

    private void DoLogin()
    {
    // Handle login logic here
    }
}
<PageTitle>Login</PageTitle>

<div class="login-container">
    <MudPaper Class="ma-4 p-4" Elevation="5">
        <MudText Typo="Typo.h5" GutterBottom="true">Login</MudText>
        <MudForm>
            <MudTextField Label="Username" Variant="Variant.Filled" FullWidth @bind-Value="@username" />
             <MudTextField Label="Password" Variant="Variant.Filled" FullWidth @bind-Value="@password" InputType="InputType.Password" />
             <MudSpacer />
             <MudButton Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" FullWidth OnClick="@DoLogin">Login</MudButton>
         </MudForm>
     </MudPaper>
 </div>